@font-face {
  font-family: 'IndieFlower-Regular';
  src: url(./IndieFlower-Regular.eot);
  src: url(./IndieFlower-Regular.eot?#iefix) format('embedded-opentype'),
       url(./IndieFlower-Regular.otf) format('otf'),
       url(./IndieFlower-Regular.svg#IndieFlower-Regular) format('svg'),
       url(./IndieFlower-Regular.woff) format('woff'),
       url(./IndieFlower-Regular.woff2) format('woff2'),
       url(./IndieFlower-Regular.ttf) format('truetype');
}
