.clearfix:after { content: ""; display: block; clear: both }
.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #313131;

}
.header .container ul {
    float: left;
}
.header .container ul li{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 12px;
}
.header .container div{
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 12px;
}
.container div a {
    margin-right: 30px;
}
.container div span::before {
 content: url(../img/dostavka.png);
}
.container div a::before{
    content: url(../img/phone.png);
}
.container .logo {
    padding-top: 32px;
    float: left;
}
.container .search{
padding-top: 32px;
padding-left: 50px;
width: 839px;
height: 50px;
margin-left: 150px;
margin-right: 270px;
background-color: aqua;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #414141;
}
.container .profile{
    float: right;
    padding-top: 32px;
}

.container .profile li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.search p::before{
    content: url(../img/search-icon.png);
} 
.itemlist li {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
    padding-right: 25px;
    padding-left: 25px;
} 
.itemlist{
    float: left;
    margin-left: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.itemlist li img {
    padding-right: 10px;
}
.slide {
    height: 450px;
    background: url(../img/1785\ 1.png)
}
.slide h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 105.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3C3C3C;
    padding-top: 100px;
    padding-left: 120px;
}
.slide p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.8%;
    letter-spacing: 0.02em;
    color: #343434;
    padding-left: 120px;
}
.slide div {
    height: 45px;
    width: 163px;
    background-color: white;
    margin-left: 130px;
    text-align: center;
}

.slide div span {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140.8%;
    letter-spacing: 0.04em;
    color: #414141;
}
.container h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #414141;
    margin-top: 30px;
}