* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #000000bd;
  width: 1920px;
  margin-left: auto;
  margin-right: auto; }

.container1 {
  margin-left: auto;
  margin-right: auto;
  width: 1780px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 34px; }

.greed {
  display: grid;
  grid-template-rows: 260px;
  grid-template-columns: 260px 260px 260px 260px 260px 260px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 70px; }

.greedm {
  display: grid;
  grid-template-rows: 348px;
  grid-template-columns: 231px 231px 231px 231px 231px 231px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.greedg {
  display: grid;
  grid-template-rows: 209px;
  grid-template-columns: 209px 209px 209px 209px 209px 209px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.menu {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3); }
  .menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 86px; }
  .menu ul:last-child li:first-child::before {
    content: url(../img/Vector.png); }
  .menu ul:last-child li:last-child::before {
    content: url(../img/profile.png); }

.slide {
  background: url(../img/onairslide1.png);
  width: 1923px;
  height: 930px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .slide h3 {
    margin-left: 70px;
    margin-top: 340px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    width: 523px;
    height: 170px; }
    .slide h3 span {
      font-weight: bold; }
  .slide button {
    margin-left: 70px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    width: 238px;
    height: 48px;
    background: #E13C52;
    border-radius: 60px; }

.content {
  background: #FFFFFF1A;
  -webkit-backdrop-filter: blur(10%);
          backdrop-filter: blur(10%);
  border: 1px solid rgba(0, 0, 0, 0); }
  .content h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    padding-left: 40px;
    margin-top: 100px;
    margin-bottom: 35px; }
  .content h3:first-child {
    margin-top: 70px; }

.recomended {
  padding-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 10px; }
  .recomended > div {
    width: 260px;
    height: 260px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .recomended > div:hover {
    -webkit-transform: scale(1.7);
            transform: scale(1.7); }
    .recomended > div:hover .name {
      display: block;
      -webkit-transform: scale(0.6);
              transform: scale(0.6); }
    .recomended > div:hover .actors {
      display: block;
      -webkit-transform: scale(0.6);
              transform: scale(0.6); }
    .recomended > div:hover .recens {
      display: block; }
      .recomended > div:hover .recens button {
        -webkit-transform: scale(0.6);
                transform: scale(0.6); }
      .recomended > div:hover .recens p {
        -webkit-transform: scale(0.6);
                transform: scale(0.6); }
  .recomended .series {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .recomended .name {
    display: none;
    padding: 5px 0px;
    color: #FFF;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 500;
    width: 170px;
    height: 66px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.47); }
    .recomended .name h4 {
      padding: 3px 0px; }
    .recomended .name p {
      text-align: center;
      width: 169px;
      height: 33px;
      border-radius: 24px;
      background: #FFF;
      font-size: 20px;
      font-family: Ubuntu;
      font-weight: 500;
      color: black; }
  .recomended .actors {
    display: none;
    color: #FFF;
    font-size: 20px;
    font-family: Ubuntu;
    font-weight: 500;
    width: 170px;
    height: 66px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.47); }
    .recomended .actors h4 {
      padding: 3px 0px; }
    .recomended .actors p {
      text-align: center;
      width: 169px;
      height: 33px;
      border-radius: 24px;
      background: #FFF;
      font-size: 20px;
      font-family: Ubuntu;
      font-weight: 500;
      color: black; }
  .recomended .recens {
    display: none;
    background: rgba(0, 0, 0, 0.8); }
    .recomended .recens p {
      color: #FFF;
      font-size: 20px;
      font-family: Ubuntu;
      font-weight: 500; }
    .recomended .recens button {
      width: 194px;
      height: 48px;
      padding: 10px 34px;
      color: #FFF;
      font-size: 24px;
      font-family: Ubuntu;
      font-weight: 500;
      border-radius: 60px;
      background: #E13C52; }

.chanels div {
  width: 260px;
  height: 260px;
  border-radius: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .chanels div div {
    width: 130px;
    height: 136px;
    background: #D9D9D9;
    border-radius: 18px 0px 0px 18px;
    padding-top: 85px; }
    .chanels div div p {
      width: 130px;
      height: 51px;
      background: #515151;
      border-radius: 18px 0px 0px 18px; }
.chanels div:nth-child(1) {
  background: url(../img/series/7.png); }
  .chanels div:nth-child(1) div {
    background: #D9D9D9;
    background: url(../img/chanel_logo/fx.png) no-repeat 10px 14px #D9D9D9; }
.chanels div:nth-child(2) {
  background: url(../img/series/8.png); }
  .chanels div:nth-child(2) div {
    background: url(../img/chanel_logo/bravo.png) no-repeat 14px 10px #D9D9D9; }
.chanels div:nth-child(3) {
  background: url(../img/series/2.png); }
  .chanels div:nth-child(3) div {
    background: url(../img/chanel_logo/abc.png) no-repeat 34px 14px #D9D9D9; }
.chanels div:nth-child(4) {
  background: url(../img/series/10.png); }
  .chanels div:nth-child(4) div {
    background: url(../img/chanel_logo/fox_news.png) no-repeat 14px 14px #D9D9D9; }
.chanels div:nth-child(5) {
  background: url(../img/series/11.png); }
  .chanels div:nth-child(5) div {
    background: url(../img/chanel_logo/fbs.png) no-repeat 10px 10px #D9D9D9; }
.chanels div:nth-child(6) {
  background: url(../img/series/9.png); }
  .chanels div:nth-child(6) div {
    background: url(../img/chanel_logo/trutv.png) no-repeat 10px 14px #D9D9D9; }

.popmovies div {
  width: 231px;
  height: 348px; }
.popmovies div:nth-child(1) {
  background: url(../img/movie/m1.png); }
.popmovies div:nth-child(2) {
  background: url(../img/movie/m2.png); }
.popmovies div:nth-child(3) {
  background: url(../img/movie/m3.png); }
.popmovies div:nth-child(4) {
  background: url(../img/movie/m4.png); }
.popmovies div:nth-child(5) {
  background: url(../img/movie/m5.png); }
.popmovies div:nth-child(6) {
  background: url(../img/movie/m6.png); }

.recmovies div {
  width: 231px;
  height: 348px; }
.recmovies div:nth-child(1) {
  background: url(../img/movie/m4.png); }
.recmovies div:nth-child(2) {
  background: url(../img/movie/m2.png); }
.recmovies div:nth-child(3) {
  background: url(../img/movie/m7.png); }
.recmovies div:nth-child(4) {
  background: url(../img/movie/m6.png); }
.recmovies div:nth-child(5) {
  background: url(../img/movie/m1.png); }
.recmovies div:nth-child(6) {
  background: url(../img/movie/m3.png); }

.games {
  margin-bottom: 38px; }
  .games div {
    width: 209px;
    height: 209px;
    border-radius: 20px; }
  .games div:nth-child(1) {
    background: url(../img/games/batman.png); }
  .games div:nth-child(2) {
    background: url(../img/games/ACV.png); }
  .games div:nth-child(3) {
    background: url(../img/games/Sonic_DashPlus.png); }
  .games div:nth-child(4) {
    background: url(../img/games/mario.png); }
  .games div:nth-child(5) {
    background: url(../img/games/fortnite.png); }
  .games div:nth-child(6) {
    background: url(../img/games/horizon.png); }

footer {
  background: #191919;
  border: 1px solid transparent; }
  footer > p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    padding-left: 34px;
    margin-bottom: 20px; }
  footer div {
    margin-top: 18px; }
  footer div ul li {
    list-style: none;
    margin-bottom: 18px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #797979; }
  footer div h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 18px; }
  footer div p {
    margin-top: 95px;
    width: 280px;
    height: 88px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8D8D8D; }

/*# sourceMappingURL=style_main.css.map */