* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000bd;


}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1920px;

}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 34px;
}

.greed {
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 260px 260px 260px 260px 260px 260px;
    column-gap: 20px;
    justify-content: space-around;
}

.greedm {
    display: grid;
    grid-template-rows: 348px;
    grid-template-columns: 231px 231px 231px 231px 231px 231px;
    justify-content: space-around;
}

.greedg {
    display: grid;
    grid-template-rows: 209px;
    grid-template-columns: 209px 209px 209px 209px 209px 209px;
    justify-content: space-around;
}

.menu {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.3);

    ul li {
        list-style: none;
        display: inline-block;
        margin-right: 86px;
    }

    ul:last-child li:first-child::before {
        content: url(../img/Vector.png);
    }

    ul:last-child li:last-child::before {
        content: url(../img/profile.png);
    }
}

.slide {
    background: url(../img/onairslide1.png);
    width: 1923px;
    height: 930px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h3 {
        margin-left: 70px;
        margin-top: 340px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        color: #FFFFFF;
        width: 523px;
        height: 170px;

        span {
            font-weight: bold;
        }
    }

    button {
        margin-left: 70px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #FFFFFF;
        width: 238px;
        height: 48px;
        background: #E13C52;
        border-radius: 60px;
    }
}

.content {
    background: #FFFFFF1A;
    backdrop-filter: blur(10%);
    border: 1px solid rgba(0, 0, 0, 0);

    h3 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #FFFFFF;
        padding-left: 40px;
        margin-top: 100px;
        margin-bottom: 35px;
    }

    h3:first-child {
        margin-top: 70px;
    }
}

.recomended {
    div {
        width: 260px;
        height: 260px;
        border-radius: 26px;
        display: flex;
        margin-bottom: 27px;
        align-items: end;
        justify-content: flex-end;
        transition: .5s;

        div {
            width: 130px;
            height: 136px;
            background: #D9D9D9;
            border-radius: 18px 0px 0px 18px;
            padding-top: 85px;

            p {
                width: 130px;
                height: 51px;
                background: #515151;
                border-radius: 18px 0px 0px 18px;
            }
        }
    }
    div:hover{
       transform: scale(1.5);
    }
    div:nth-child(1) {
        background: url(../img/series/1.png);

        div {
            background: #D9D9D9;
            background: url(../img/chanel_logo/fox.png) no-repeat 24px 24px #D9D9D9;
            ;
        }
    }

    div:nth-child(2) {
        background: url(../img/series/2.png);

        div {
            background: url(../img/chanel_logo/abc.png) no-repeat 34px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(3) {
        background: url(../img/series/3.png);

        div {
            background: url(../img/chanel_logo/nbc.png) no-repeat 18px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(4) {
        background: url(../img/series/4.png);

        div {
            background: url(../img/chanel_logo/espn.png) no-repeat 14px 24px #D9D9D9;
            ;
        }
    }

    div:nth-child(5) {
        background: url(../img/series/5.png);

        div {
            background: url(../img/chanel_logo/usa.png) no-repeat 14px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(6) {
        background: url(../img/series/6.png);

        div {
            background: url(../img/chanel_logo/trutv.png) no-repeat 10px 14px #D9D9D9;
            ;
        }
    }
}

.chanels {
    div {
        width: 260px;
        height: 260px;
        border-radius: 26px;
        display: flex;
        margin-bottom: 27px;
        align-items: end;
        justify-content: flex-end;

        div {
            width: 130px;
            height: 136px;
            background: #D9D9D9;
            border-radius: 18px 0px 0px 18px;
            padding-top: 85px;

            p {
                width: 130px;
                height: 51px;
                background: #515151;
                border-radius: 18px 0px 0px 18px;
            }
        }
    }

    div:nth-child(1) {
        background: url(../img/series/7.png);

        div {
            background: #D9D9D9;
            background: url(../img/chanel_logo/fx.png) no-repeat 10px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(2) {
        background: url(../img/series/8.png);

        div {
            background: url(../img/chanel_logo/bravo.png) no-repeat 14px 10px #D9D9D9;
            ;
        }
    }

    div:nth-child(3) {
        background: url(../img/series/2.png);

        div {
            background: url(../img/chanel_logo/abc.png) no-repeat 34px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(4) {
        background: url(../img/series/10.png);

        div {
            background: url(../img/chanel_logo/fox_news.png) no-repeat 14px 14px #D9D9D9;
            ;
        }
    }

    div:nth-child(5) {
        background: url(../img/series/11.png);

        div {
            background: url(../img/chanel_logo/fbs.png) no-repeat 10px 10px #D9D9D9;
            ;
        }
    }

    div:nth-child(6) {
        background: url(../img/series/9.png);

        div {
            background: url(../img/chanel_logo/trutv.png) no-repeat 10px 14px #D9D9D9;
            ;
        }
    }
}

.popmovies {
    div {
        width: 231px;
        height: 348px;
    }

    div:nth-child(1) {
        background: url(../img/movie/m1.png);
    }

    div:nth-child(2) {
        background: url(../img/movie/m2.png);
    }

    div:nth-child(3) {
        background: url(../img/movie/m3.png);
    }

    div:nth-child(4) {
        background: url(../img/movie/m4.png);
    }

    div:nth-child(5) {
        background: url(../img/movie/m5.png);
    }

    div:nth-child(6) {
        background: url(../img/movie/m6.png);
    }
}

.recmovies {
    div {
        width: 231px;
        height: 348px;
    }

    div:nth-child(1) {
        background: url(../img/movie/m4.png);
    }

    div:nth-child(2) {
        background: url(../img/movie/m2.png);
    }

    div:nth-child(3) {
        background: url(../img/movie/m7.png);
    }

    div:nth-child(4) {
        background: url(../img/movie/m6.png);
    }

    div:nth-child(5) {
        background: url(../img/movie/m1.png);
    }

    div:nth-child(6) {
        background: url(../img/movie/m3.png);
    }
}

.games {
    margin-bottom: 38px;

    div {
        width: 209px;
        height: 209px;
        border-radius: 20px;
    }

    div:nth-child(1) {
        background: url(../img/games/batman.png);
    }

    div:nth-child(2) {
        background: url(../img/games/ACV.png);
    }

    div:nth-child(3) {
        background: url(../img/games/Sonic_DashPlus.png);
    }

    div:nth-child(4) {
        background: url(../img/games/mario.png);
    }

    div:nth-child(5) {
        background: url(../img/games/fortnite.png);
    }

    div:nth-child(6) {
        background: url(../img/games/horizon.png);
    }
}

footer {
    background: #191919;
    border: 1px solid transparent;

    >p{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #616161;
        padding-left: 34px;
        margin-bottom: 20px;
    }
    div{
        margin-top: 18px;
    }
    div ul li {
        list-style: none;
        margin-bottom: 18px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #797979;
    }

    div h3 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    div p {
        margin-top: 95px;
        width: 280px;
        height: 88px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #8D8D8D;
    }
}