@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\000031}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\000037}}
body {
  background: #000000bd; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000311}}
a {
  color: inherit;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000316}}
.container {
  width: 1920px;
  margin-left: auto;
  margin-right: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000323}}
.container1 {
  margin-left: auto;
  margin-right: auto;
  width: 1780px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000330}}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000337}}
.flexk {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 100px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000343}}
.greed {
  display: grid;
  grid-template-rows: 260px;
  grid-template-columns: 260px 260px 260px 260px 260px 260px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding-left: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000351}}
.greedm {
  display: grid;
  grid-template-rows: 348px;
  grid-template-columns: 231px 231px 231px 231px 231px 231px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000358}}
.greedg {
  display: grid;
  grid-template-rows: 209px;
  grid-template-columns: 209px 209px 209px 209px 209px 209px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000365}}
header {
  background: url(../img/onairslide1.png) no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000369}}
.menu {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.3); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000377}}
  .menu ul {
    height: 100px;
    -ms-flex-line-pack: center;
        align-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000383}}
  .menu ul li {
    margin-left: 100px;
    list-style: none;
    margin-right: 86px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000390}}
  .menu ul:last-child li:first-child::before {
    content: url(../img/Vector.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000394}}
  .menu ul:last-child li:last-child::before {
    content: url(../img/profile.png); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\0000399}}
.content {
  background: #FFFFFF1A;
  -webkit-backdrop-filter: blur(10%);
          backdrop-filter: blur(10%);
  border: 1px solid rgba(0, 0, 0, 0);
  background: url(../img/app_bg.png); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003105}}
  .content h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    padding-left: 40px;
    margin-top: 100px;
    margin-bottom: 35px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003116}}
  .content h3:first-child {
    margin-top: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003121}}
.ProfMenu {
  border-right: 1px solid #616161;
  padding-right: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003126}}
.you {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003134}}
  .you img {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003138}}
  .you button {
    -ms-flex-item-align: center;
        align-self: center;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 52px;
    background: #E13C52;
    margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003148}}
  .you p {
    color: #929090;
    font-size: 16px;
    font-family: Ubuntu;
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003155}}
  .you h6 {
    color: #FFF;
    font-size: 24px;
    font-family: Ubuntu;
    margin-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003164}}
.profilelist li {
  list-style: none;
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003168}}
  .profilelist li button {
    width: 217px;
    border-radius: 60px;
    border: none;
    background: none;
    color: #FFF;
    font-size: 24px;
    font-family: Ubuntu; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003178}}
  .profilelist li button:hover {
    background-color: #E13C52; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003182}}
  .profilelist li button.active {
    background-color: #E13C52; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003189}}
.tabcontent {
  padding-left: 100px;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003192}}
  .tabcontent h1 {
    color: #FFF;
    font-size: 48px;
    font-family: Ubuntu;
    font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003201}}
#Profile input[type="text"] {
  width: 426px;
  height: 60px;
  padding: 10px 124px 10px 21px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.9);
  display: block;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003210}}
#Profile input[type="submit"] {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003213}}
#Profile label {
  display: inline-block;
  padding: 10px 34px;
  width: 220px;
  height: 48px;
  border-radius: 60px;
  background: #E13C52;
  border: none;
  color: #FFF;
  font-size: 24px;
  font-family: Ubuntu;
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003228}}
.accordion {
  display: block;
  width: 300px;
  border-radius: 20px;
  opacity: 0.699999988079071;
  background: #000;
  color: #FFF;
  font-size: 32px;
  font-family: Ubuntu;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 10px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003244}}
.active, .accordion:hover {
  color: #E90000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003247}}
.panel {
  padding: 0 18px;
  background: #00000063;
  display: none;
  overflow: hidden;
  border-radius: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003253}}
  .panel p {
    color: rgba(255, 255, 255, 0.54);
    font-size: 24px;
    font-family: Ubuntu; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003260}}
footer {
  background: #191919;
  border: 1px solid transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003264}}
  footer > p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #616161;
    padding-left: 34px;
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003274}}
  footer div {
    margin-top: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003278}}
  footer div ul li {
    list-style: none;
    margin-bottom: 18px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #797979; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003288}}
  footer div h3 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003297}}
  footer div p {
    margin-top: 95px;
    width: 280px;
    height: 88px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8D8D8D; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003309}}
.dropbtn {
  width: 120px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003321}}
.dropbtn:hover {
  border-radius: 60px;
  background: #E13C52; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003326}}
.dropbtn:focus {
  border-radius: 60px;
  background: #E13C52; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003331}}
.dropdown {
  position: relative;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003336}}
.dropdown-content {
  width: 229px;
  display: none;
  position: absolute;
  border-radius: 13px;
  background: #232229;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003346}}
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: #FFF;
  font-size: 19px;
  font-family: Ubuntu; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003354}}
.dropdown-content a:hover {
  color: #E90000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/web\%20lessons\/Nenartovich_Serghey\/maket\/maket3\/style\/style_profile\.scss}line{font-family:\00003358}}
.show {
  display: block; }

/*# sourceMappingURL=style_profile.css.map */